# Series using pandas library

In [1]:
import pandas as pd

`Series using list`

In [2]:
# Series function give us data with its index
x=[4,6,7,8,9]
var=pd.Series(x)
print(var)
print(type(var))

0    4
1    6
2    7
3    8
4    9
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
print(var[3])

8

`Change Index`

In [4]:
var=pd.Series(x,index=['a','b','c','d','e'],dtype='f',name="Python")
print(var)

a    4.0
b    6.0
c    7.0
d    8.0
e    9.0
Name: Python, dtype: float32

`Dictionary`

In [5]:
dict={"Name":["Python",'Java','C++'],
      "Rank":[1,2,3],
      "ppt":[11,22,13]}
x=pd.Series(dict)
x

Name    [Python, Java, C++]
Rank              [1, 2, 3]
ppt            [11, 22, 13]
dtype: object

`Single value Series`

In [6]:
#for single value we also make a series like
single=pd.Series(50)
print(single)

0    50
dtype: int64

In [7]:
s1=pd.Series(50,index=[1,2,3,4,5,6])
print(s1)

1    50
2    50
3    50
4    50
5    50
6    50
dtype: int64

`Arthimetic operation`

In [8]:
s1=pd.Series(50,index=[1,2,3,4,5,6])
s2=pd.Series(50,index=[1,2,3,4])
print(s1+s2)

1    100.0
2    100.0
3    100.0
4    100.0
5      NaN
6      NaN
dtype: float64

# Indexing

In [11]:
d={"s":pd.Series([1,2,3,4]),"a":pd.Series([5,6,7,8])}
b=pd.DataFrame(d)
print(b)

   s  a
0  1  5
1  2  6
2  3  7
3  4  8

In [12]:
print(b["s"][3])

4